Repository Paperback-iOS/website, pull requests merged in 2020-06, with the labels that each got.

#33 add a sitemap and a robots file
  package-lock.json
  package.json
  src/.vuepress/config/plugins.js
Labels: Review needed!

#32 Add dialog component to show pictures inside the website
  src/.vuepress/components/PictureDialog.vue
  src/.vuepress/public/assets/AltServer.png
  src/.vuepress/public/assets/iCloud.gif
  src/.vuepress/styles/index.styl
  src/help/guides/getting-started.md
Labels: Help wanted!, Review needed!

#30 Small improvements and mistakes correction
  src/.vuepress/styles/index.styl
  src/help/faq/README.md
  src/help/guides/getting-started.md
  src/it/help/faq/README.md
  src/it/help/guides/getting-started.md
  src/nl/help/guides/getting-started.md
Labels: Review needed!

#38 Adapt new faq entries & imageview for Dutch language
  src/nl/help/faq/README.md
  src/nl/help/guides/getting-started.md
Labels: Approved

#39 Instructions on adding external source repositories to the application
  src/.vuepress/components/ExtensionsList.vue
  src/.vuepress/config/nav/en.js
  src/.vuepress/config/sidebar/en.js
  src/help/guides/adding-repos.md
Labels: Approved

#43 use camel case
  src/.vuepress/components/ExtensionsList.vue
Labels: Approved
